#change-style{
  position:relative;
  margin-top: 20px;
  margin-left:750px;
  font-weight: bold;
    font-size: 18px;
    color: #483D8B;
    padding: 8px 8px;
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
}
#view-chart{
  position:absolute;
  margin-left: 200px;
  border:none;
  height: 350px;
  width: 400px;
}

#future-table{
  position:absolute;
  margin-left: 950px;
  top: 500px: 
}


#past-data{
  position:absolute;
  margin-top: 50px;
  margin-left: -150px;
  top: 500px: 
}

table {
    font-family: 'Rajdhani', sans-serif;
    border-collapse: collapse;
    width: "250";
}

td, th {

  font-family: 'Rajdhani', sans-serif;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}



/* Dropdown Menu*/

/* Dropdown Button */
.dropbtn {
    width: 125px;
    height: 60px;
    margin-top: 5px;
    font-size: 18px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    margin-left: 755px; 
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    margin-left: 755px; 
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Rajdhani', sans-serif;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#colon {
  margin-top: 7vh;
  margin-right: 2vh;
}

.timer-block {
  float: right;
}

#timer {
  display: flex;
  justify-content: center;
}

#addsitesButton{

   width: 150px;
    height: 40px;
    margin-top: -20px;
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
  margin: 5px;

}

.figure {
    position: relative;
    /*color: #D4AF37; */
    opacity: 0.7;
    height: 110px;
    width: 100px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 8px; 
    font-size: 50px;
    text-align: center;
    @include box-shadow(0 3px 4px 0 rgba(0, 0, 0, .2),inset 2px 4px 0 0 rgba(255, 255, 255, .08)); }


.timerButton {
    width: 100px;
    height: 40px;
    margin-top: -20px;
    font-size: 18px;
    font-family: 'Rajdhani', sans-serif;
  margin: 5px;
}

body {
  font-family: "Century Gothic", "Lato", sans-serif;
}

a {
  text-decoration: none;
}


.et-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 2em;
  height: 75px;
  z-index: 2;
  -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.et-header--scrolled {
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.et-header--move-up {
  -webkit-transform: translateY(-75px);
          transform: translateY(-75px);
  -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.et-header__logo {
  color: #000;
}
.et-header__link {
  margin-left: 1em;
  color: #000;
}

.et-hero-tabs,
.et-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  position: relative;
  background: #eee;
  text-align: center;
  padding: 0 2em;
}
.et-hero-tabs h1,
.et-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
.et-hero-tabs h3,
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.et-hero-tabs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.et-hero-tabs-container--top-first {
  position: fixed;
  top: 75px;
  -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.et-hero-tabs-container--top-second {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}
.et-hero-tab:hover {
  color: white;
  background: rgba(102, 177, 241, 0.8);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66B1F1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

@media (min-width: 800px) {
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 3rem;
    margin-top: -50vh;
  }
  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
  }

  .et-hero-tab {
    font-size: 1rem;
  }
}

button {
  cursor: pointer;
}

#hidden{
  visibility:hidden;
}