body {
  background-color: #E0FFFF;
 font-family: "Arial", san-serif;
}

#mtabs {
    list-style: none;
    padding: 5px 0 4px 0;
    margin: 0 0 0 0px;
     font: 0.75em arial; 
}

#mtabs li {
    display: inline;
}

#mtabs li a {
    border: 1px solid #ccc;
    text-decoration: none;
    color:#000;
    background-color: #eeeeee;
    font-size:14px;
}

#mtabs li a:hover {
    background-color: #dddddd;
}

#mtabs li.active a {
    background-color: #fff;
}


.mtab_content {
    display: none;
}

.timer-block {
  float: right;
}

#timer {
  display: flex;
  justify-content: center;
}

form{
    margin: 0 auto; 
    width:250px;
  
}

input{
  background-color:#FFF;
  height: 15px;
  width: 200px;
}



.figure {
    position: relative;
    height: 110px;
    width: 100px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 8px; 
    @include box-shadow(0 3px 4px 0 rgba(0, 0, 0, .2),inset 2px 4px 0 0 rgba(255, 255, 255, .08)); }
#set {
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.unit-timer {
  display: flex;
  justify-content: center;
}

#meu {
  display: inline;
  float: left;
  background-color: #f1f1f1;
  width: 20%;
  height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

.active { /*change color when hovering on page */
    background-color: #4CAF50;
    color: white;
}

h1 {
  text-align: center;
}

/*About Page CSS*/

.blank_fix{
  visibility:hidden;
  width:240px;
  height:180px;
  
}

h2 {
  text-align: center;
}

.our_beautiful_images{
  position:relative;
  width:800px;
}

img {
    margin: auto;
    width: 50%;
    border: 2px solid black;
    padding: 4px;
    width:180px;
    height:180px
}
.names_container{
  position:relative;
}

